{% extends "basic.html" %}

{% block content %}
<div class="row">
<div class="col-sm-12 checkout">
    <h2>Обработка заказа</h2>
    <p>Сумма покупки: <b>{{order.get_cart_total}}</b> р</p>
    <p>Токен: {{client_token}}</p> <br>
    <div class="buy_info"> После ввода данных с вами свяжется мендежер и уточнит детали заказа </div>
    <form method="post" id='form-id' action="{% url 'shopping_cart:update_records' client_token %}">
    {% csrf_token %}
       Введите номер телефона <input type="tel" name='tel' placeholder='8 913 123 45 67' required> <br>
       Введите адрес доставки <input type="text" name='adress' placeholder='г.Томск, ул. Герцена, 18' required> <br>
       <br>
       <button type="submit" class="btn btn-primary">Отправить</button>
    <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-decline">Назад</a>
    </form>
</div>
</div>
{% endblock %}

