{% extends "basic.html" %}

{% block content %}
 <section>
  <h2 style="text-align:center;">Корзина</h2>
   <div class="row">
   <div class="col-sm-12" style="overflow-x:auto;">
    <table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th>Номер</th>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Итого</th>
      </tr>
      {% for item in order.get_cart_items %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            {{ item.product.title }}
            <span class="pull-right">
              <a href="{% url 'shopping_cart:delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" onclick="return confirm_delete();">
                <i class="fas fa-trash"></i>
              </a>
            </span>
          </td>
          <td>{{item.product.price}}</td>
          <td>
          {{item.quantity}} <a href="{% url 'shopping_cart:inc_orderItem' item.id %}"><i
                                    class="fas fa-plus ml-2"></i></a> 
                                    <a href="{% url 'shopping_cart:decr_orderItem' item.id %}"><i
                                    class="fas fa-minus ml-2"></i></a>
                                    </td>
          <td>{{ item.get_total_item_price }}&#8381;</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3> Вы пока не добавили товары.</td>
        </tr>
      {% endfor %}
      <tr>
        {% if order.get_cart_total != None %}
        <td colspan=1 >
          <a href="{% url 'shop:home' %}" class="btn btn-warning pull-left">
            {% if order %}Продолжить закупку{% else %} Добавить товары {% endif %}
          </a> 
        </td>
        <td colspan=3>
          {% if order.get_cart_items %}
            <a href="{% url 'shopping_cart:checkout' %}" class="pull-right btn btn-primary">Купить</a>
          {% endif %}
        </td>
        
        <td colspan= 1>
          <strong>{{ order.get_cart_total }}</strong> &#8381;
        </td>
        {% endif %}
      </tr>
      <tr>
        
        
      </tr>
    </table>
   </div>
   </div>
 </section>
{% endblock %}
