{% extends "basic.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-7 product_images">
        <div class="imgBox"><img src="/{{product.image0}}" alt=""></div>
        <ul class="thumb">
            <li><a href="/{{product.image0}}" target="imgBox"><img src="/{{product.image0}}" alt="thumb"></a></li>
            <li><a href="/{{product.image1}}" target="imgBox"><img src="/{{product.image1}}" alt="thumb"></a></li>
            <li><a href="/{{product.image2}}" target="imgBox"><img src="/{{product.image2}}" alt="thumb"></a></li>
            <li><a href="/{{product.image3}}" target="imgBox"><img src="/{{product.image3}}" alt="thumb"></a></li>
        </ul>
    </div>
    <div class="col-sm-5 product">
        <h2 class="product_title">{{ product.title }}</h2>
        <p class="product_price">{{ product.price }}&#8381;</p><br> <br> 
        {% if product.description %}<span class="product_info"></span><p class="product_description"> {{product.description}}</p>{% endif %}
        {% if product.size %}<span class="product_info">Размер: </span><p> {{product.size}}</p>{% endif %}
        {% if product.material %}<span class="product_info">Материал: </span><p> {{product.material}}</p>{% endif %}
        {% if product.articul %}<span class="product_info">Артикул: </span><p>{{product.articul}}</p>{% endif %}
        {% if product in user.profile.ebooks.all %}
                <a href="{% url 'shopping_cart:order_summary' %}" class="add_to_cart_button cart_button">Уже в корзине</a>
            {% else %}
                <a href="{% url 'shopping_cart:add_to_cart' product.id %}" class="add_to_cart_button">В корзину</a>
            {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('.thumb a').mouseover(function(e){
        e.preventDefault();
        $('.imgBox img').attr("src", $(this).attr("href"));
    });
    $('.thumb a').click(function(e){
        e.preventDefault();
        $('.imgBox img').attr("src", $(this).attr("href"));
    });
});
</script>
{% endblock %}