{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Shop {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'online_shop/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'online_shop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <link rel="stylesheet" href="{% static 'shop/media.css' %}">
    <link rel="shortcut icon" href="{% static 'online_shop/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'online_shop/img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
{% if messages %}
    <ul class="messages" id="msg">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
    <div class="container-fluid">
        <header>
        <div class="row head">
            <div class="col-sm-3 logo_head align-self-center">
                <a href="/" class="logo"><img src="{% static 'online_shop/img/logo.png'%}" alt="logo"></a>
            </div>
            <div class="col-sm-5 align-self-center">
                <form action="/search/" method="post" class="search_form">
                    {% csrf_token %}
                    <input type="text" name="search_query" autocomplete="off" required>
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="d-flex col-sm-4 navigation align-self-center justify-content-around">
                {% if user.is_authenticated %}
                <a href="{% url 'shopping_cart:order_summary' %}"><i class="fas fa-shopping-cart"></i> <span class="mark">Корзина</span></a>
                <a href="{% url 'accounts:my_profile' %}"><i class="fas fa-user-alt"></i> <span class="mark">Мой профиль</span></a>
                <a href="/accounts/logout"><i class="fas fa-sign-out-alt"></i> <span class="mark">Выйти</span></a>
                {% else %}
                <a href="/accounts/login">Войти</a>
                <a href="/accounts/signup">Регистрация</a> 
                
                {% endif %}
            </div>
        </div>
            
            <div class="row">

                <ul class="d-flex col-sm-12 category-nav justify-content-around">
                {% for category in categories %}
                    <li class="cat"><a href="{% url 'shop:category' category.slug %}">{{ category.title }}</a>
                        <ul>
                            {% for sub_category in category.subcategory_set.all %}
                                <li class="sub-category"><a href="{% url 'shop:subCategory' category.slug sub_category.slug %}"> {{ sub_category.title }} </a></li> 
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
           
        </header>
        <div class="content">{% block content %}{% endblock %}</div>
        <footer class="footer">
            <div class="row">
                <div class="col-sm-3 logo_footer">
                    <a href="/" class="logo"><img src="{% static 'online_shop/img/logo.png'%}" alt="logo"></a> <br>
                    © 2020 Всё права НЕ защищены
                </div>
                <div class="d-flex footer_help col-sm-7 align-self-center justify-content-around">
                        <a href="/help/about">О компании</a>
                        <a href="/help/delivery">Доставка и самовывоз</a>
                        <a href="/help/payment">Оплата</a>
                        <a href="/help/contacts">Контакты</a>
                </div>
                <div class="d-flex col-sm-2 dev_info align-self-center justify-content-center ">Разработка сайта - Шмидт Фёдор, группа 481</div>
            </div>
        </footer>
    </div>

    <script src="{% static 'online_shop/js/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'online_shop/js/bootstrap.min.js' %}"></script>
    <script>$(document).ready(function () {
  setTimeout(function () {
      $('#msg').hide();
  }, 4000);
});</script>
<script>
$(".product_card").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false
});
$(".product_card .add_to_cart_button").click(function() {
  window.location = $(this).attr("href"); 
  return false
});
</script>
     {% block script %}
     
     {% endblock script %}
</body>
</html>