 <div class="product_card">
        <a href="{% url 'shop:product' prop.subCategory.category.slug prop.subCategory.slug prop.slug %}" class="block_link"></a>
        <img src="{{MEDIA_URL}}{{prop.image0}}" alt="Товар"><br>
        <div class="product_display_info">
        <a href="{% url 'shop:product' prop.subCategory.category.slug prop.subCategory.slug prop.slug %}" class="product_title">{{ prop.title }}</a>
        <p class="product_price">{{ prop.price }}&#8381;</p>
        <p class="description">{{ prop.description }}</p>
        </div>
            {% if prop in user.profile.ebooks.all %}
                <a href="{% url 'shopping_cart:order_summary' %}" class="add_to_cart_button cart_button">Уже в корзине</a>
            {% else %}
                <a href="{% url 'shopping_cart:add_to_cart' prop.id %}" class="add_to_cart_button list_button">В корзину</a>
            {% endif %}
    </div>